/* Estilo general del sidebar */
.sidebar {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #333;
  color: #fff;
  z-index: 100;
  transition: all 0.3s ease-in-out;
}

/* Encabezado del sidebar */

.sidebar header {
  padding: 10px 20px;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
}

.sidebar header a {
  text-decoration: none;
  color: #fff;
}
/* Navegación del sidebar */

.sidebar nav {
  margin-top: 10px;
}

.sidebar nav ul {
  list-style: none;
  padding: 0;
}

/* Elementos de la lista */

.sidebar nav ul li {
  padding: 10px 20px;
  border-bottom: 1px solid #444;
  transition: all 0.2s ease-in-out;
}

/* Enlaces de la lista */

.sidebar nav ul li a {
  text-decoration: none;
  color: #fff;
}

/* Efecto hover en los elementos de la lista */

.sidebar nav ul li:hover {
  background-color: #444;
}

/* Estilos adicionales para el estado expandido */

.sidebar.expanded {
  width: 400px;
}

.sidebar.expanded header h1 {
  font-size: 24px;
}

.sidebar.expanded nav ul li {
  padding: 15px 20px;
}

/* Media queries para ajustar el sidebar en dispositivos móviles */

@media (max-width: 768px) {
  .sidebar {
    width: 100%;
  }
}
