<div class="sidebar">
  <header>
    <h1><a routerLink="/home">Admin</a></h1>
  </header>
  <hr>
  <nav>
    <ul>
      <li><a routerLink="/brands">Marcas</a></li>
      <li><a routerLink="/products">Productos</a></li>
    </ul>
  </nav>
</div>

