<div class="modal-header">
  <h4 class="modal-title">Productos modal</h4>
  <button type="button" class="close" aria-label="Close" (click)="close()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<form [formGroup]="formProducts" novalidate autocomplete="off">
  <div class="row">
    <div class="col-sm-3 margin-bottom">
      <div class="form-group">
        <label class="margin-top" for="name">Nombre de producto: *</label>
        <input type="text" class="form-control" id="name" name="name"
               formControlName="name">
        <div
          *ngIf="(formProducts.controls['name'].dirty || formProducts.controls['name'].touched)">
          <div class="text-danger" *ngIf="formProducts.controls['name'].hasError('required')">
            Campo requerido.
          </div>
          <div class="text-danger" *ngIf="formProducts.controls['name'].hasError('minlength')">
            Mínimo 3 caracteres.
          </div>
          <div class="text-danger" *ngIf="formProducts.controls['name'].hasError('maxlength')">
            Máximo 30 caracteres.
          </div>
          <div class="text-danger" *ngIf="formProducts.controls['name'].hasError('pattern')">
            Solo letras y espacios.
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-3 margin-bottom">
      <div class="form-group">
        <label for="idMarca">Marca: *</label>
        <select class="form-control text-black" #idMarca formControlName="idMarca">
          <option disabled value="0">Seleccione una marca: *</option>
          <option *ngFor="let item of listBrads[0]" value="{{item.id}}">{{ item.nombre }}</option>
        </select>
        <div
          *ngIf="(formProducts.controls['idMarca'].dirty || formProducts.controls['idMarca'].touched)">
          <div class="text-danger" *ngIf="formProducts.controls['idMarca'].hasError('required')">
            Campo requerido.
          </div>
          <div class="text-danger" *ngIf="formProducts.controls['idMarca'].hasError('min')">
            Campo requerido.
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-3 margin-bottom">
      <div class="form-group">
        <label for="idTalla">Talla: *</label>
        <select class="form-control text-black" #idTalla formControlName="idTalla">
          <option disabled value="0">Seleccione una talla: *</option>
          <option *ngFor="let item1 of listTallas" value="{{item1.id}}">{{ item1.nombre }}</option>
        </select>
        <div
          *ngIf="(formProducts.controls['idTalla'].dirty || formProducts.controls['idTalla'].touched)">
          <div class="text-danger" *ngIf="formProducts.controls['idTalla'].hasError('required')">
            Campo requerido.
          </div>
          <div class="text-danger" *ngIf="formProducts.controls['idTalla'].hasError('min')">
            Campo requerido.
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-3 margin-bottom">
      <div class="form-group">
        <label class="margin-top" for="quantity">Cantidad: *</label>
        <input type="text" class="form-control" id="quantity" name="quantity"
               formControlName="quantity">
        <div
          *ngIf="(formProducts.controls['quantity'].dirty || formProducts.controls['quantity'].touched)">
          <div class="text-danger" *ngIf="formProducts.controls['quantity'].hasError('required')">
            Campo requerido.
          </div>
          <div class="text-danger" *ngIf="formProducts.controls['quantity'].hasError('min')">
            Mínimo 1.
          </div>
          <div class="text-danger" *ngIf="formProducts.controls['quantity'].hasError('pattern')">
            Solo números.
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-3 margin-bottom">
      <div class="form-group">
        <label for="date_shipment">Fecha embarque</label>
        <input type="date" class="form-control" formControlName="date_shipment">
      </div>
    </div>

    <div class="col-sm-3 margin-bottom">
      <div class="form-group">
        <label class="margin-top" for="observations">Observaciones:</label>
        <textarea type="text" class="form-control" id="observations" name="observations"
               formControlName="observations">
        </textarea>
        <div
          *ngIf="(formProducts.controls['observations'].dirty || formProducts.controls['observations'].touched)">
          <div class="text-danger" *ngIf="formProducts.controls['observations'].hasError('minlength')">
            Mínimo 1 carácter.
          </div>
          <div class="text-danger" *ngIf="formProducts.controls['observations'].hasError('maxlength')">
            Máximo 150 caracteres.
          </div>
          <div class="text-danger" *ngIf="formProducts.controls['observations'].hasError('pattern')">
            Solo letras, números y espacios.
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-danger" (click)="close()">Cancelar</button>
    <button type="submit" [hidden]="!btnActive" [disabled]="formProducts.invalid" (click)="editProduct()"
            class="btn btn-primary">Editar marca
    </button>
    <button type="submit" [hidden]="btnActive" [disabled]="formProducts.invalid" (click)="saveBrand()"
            class="btn btn-primary">Guardar marca
    </button>
  </div>

</form>
