<div class="modal-header">
  <h4 class="modal-title">Marcas modal</h4>
  <button type="button" class="close" aria-label="Close" (click)="close()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<form [formGroup]="formBrand" novalidate autocomplete="off">
  <div class="row">
    <div class="col-sm-3 margin-bottom">
      <div class="form-group">
        <label class="margin-top" for="name">Nombre de marca: *</label>
        <input type="text" class="form-control" id="name" name="name"
               formControlName="name">
        <div
          *ngIf="(formBrand.controls['name'].dirty || formBrand.controls['name'].touched)">
          <div class="text-danger" *ngIf="formBrand.controls['name'].hasError('required')">
            Campo requerido.
          </div>
          <div class="text-danger" *ngIf="formBrand.controls['name'].hasError('minlength')">
            Mínimo 3 caracteres.
          </div>
          <div class="text-danger" *ngIf="formBrand.controls['name'].hasError('maxlength')">
            Máximo 30 caracteres.
          </div>
          <div class="text-danger" *ngIf="formBrand.controls['name'].hasError('pattern')">
            Solo letras y espacios.
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-3 margin-bottom">
      <div class="form-group">
        <label class="margin-top" for="reference">Nombre de marca: *</label>
        <input type="text" class="form-control" id="reference" name="reference"
               formControlName="reference">
        <div
          *ngIf="(formBrand.controls['reference'].dirty || formBrand.controls['reference'].touched)">
          <div class="text-danger" *ngIf="formBrand.controls['reference'].hasError('required')">
            Campo requerido.
          </div>
          <div class="text-danger" *ngIf="formBrand.controls['reference'].hasError('minlength')">
            Mínimo 2 caracteres.
          </div>
          <div class="text-danger" *ngIf="formBrand.controls['reference'].hasError('maxlength')">
            Máximo 30 caracteres.
          </div>
          <div class="text-danger" *ngIf="formBrand.controls['reference'].hasError('pattern')">
            Solo letras y números.
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-danger" (click)="close()">Cancelar</button>
    <button type="submit" [hidden]="!btnActive" [disabled]="formBrand.invalid" (click)="editBrand()"
            class="btn btn-primary">Editar marca
    </button>
    <button type="submit" [hidden]="btnActive" [disabled]="formBrand.invalid" (click)="saveBrand()"
            class="btn btn-primary">Guardar marca
    </button>
  </div>
</form>
