<app-spinner></app-spinner>
<div class="content-body">
  <div class="content-sidebar">
    <app-sidebar></app-sidebar>
  </div>
  <main class="content-main">
    <router-outlet></router-outlet>
  </main>
</div>
