.content-body{
  display: flex;
  align-items: center;
}
.content-sidebar {
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #333;
}

.content-sidebar app-sidebar {
  width: 100%;
}
.content-main{
  width: 80%;
  display: flex;
  justify-content: center;
}
